$mainColor: rgb(79, 70, 183);
$fontFamily: "Rajdhani",Arial, Helvetica, sans-serif;
$colorWhite: rgb(245, 245, 245);

@mixin flexbox {
    display: flex;
    justify-content: space-between;
}

@mixin shadowC {
    box-shadow: 0px 0px 10px rgb(239, 243, 9);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(239, 243, 9);
}

@mixin shadowContainer($blur, $shadowColor, $bgColor) {
    box-shadow: 0px 0px $blur $shadowColor;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
}

%link{
    text-decoration: none;
    color: $colorWhite;
}

body{
    font-family: $fontFamily;
    font-size: 1.5rem;
    font-weight: 700;
}

main{
    article {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        @include shadowContainer(10px, rgb(239, 243, 9), $mainColor);
        
        &:first-child {
            @include shadowContainer(10px, green, red);
        }  

        &.three {
            @include shadowContainer(10px, rgb(210, 16, 84), rgb(0, 0, 0));
        }

        &.conta {
            width: 500px;
            height: 500px;
            @include shadowC;
        }


    }

}




footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $mainColor;
    @include flexbox;

    article {

        img {
            width: 80%;
        }

        nav {
            @include flexbox;
            flex-direction: column;
            gap: 10px;
        }

        a {
            @extend %link;
        }

        a {
           display: block;
           @extend %link; 
        }

    }
}