body {
    font-family: "Rajdhani",Arial, Helvetica, sans-serif;
    
}

.header {
    width: 100%;
    display: flex;
    padding: 15px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}

.header__logo {
    width: 150px;
}

.header__menu {
    display: flex;
    gap: 50px;
}


.header__nav {
    display: flex;
    gap: 20px; 
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.header__user {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header__icon {
    cursor: pointer;
}

.header__icon--secondary {
    opacity: .4;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 30px  auto 0;
    gap: 30px 20px;
}

.products__img {
    width: 100%;
}

.products__title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.products__btn {
    display: block;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    font-family: "Rajdhani",Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.products__btn--disabled {
    background-color:  #999;

}