div{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: lightgreen;

}

div p{
    font-size: 15px;
    text-align: right;
    line-height: 2;
}

@media screen and (max-width: 900px) and (min-width: 700px) {
    div {
        width: 50%;
        padding: 0;
        background-color: aqua;
    }

    div p {
        font-size: 10px;
        text-align: left;
        line-height: 1;
    }
}