*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

$mainColor: #111;
$linkColor: #fff;

@mixin menuLink{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  margin-left: 10px;
}
@mixin menuPlaylist{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  margin-top: 18px;
  margin-left: 10px;
}

@mixin icone{
  width: 27px;
}

body {
  /*background-color: #111;*/
}

.header{
  width: 30%;
  background-color: $mainColor;

  .header__logo {
    width: 9em;
    padding: 10px;
  }

  .header__icone{
    @include icone;
  }

  .header__menu{
   @include menuLink;
    
  }
  
  .header__link{
    text-decoration: none;
    color: $linkColor;
  }
  
  .header__playlist{
    @include menuPlaylist();
  }
  
}

.footer {
  width: 100%;
  background-color: $mainColor;
}   